<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @step.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @step.description %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @step.stage_id %>
</p>

<p>
  <strong>Done:</strong>
  <%= @step.done %>
</p>

<p>
  <strong>User:</strong>
  <%= @step.user_id %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
